<!doctype html>

<html>
<head>
	<title>CSE170 Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">FoodAid</a>
    </div>
</nav>

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="images/avatar_img.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="login" method="post">
            <span class="reauth-email"></span>
            <input type="email" id="input-email" name="email" class="form-control" placeholder="Email address" required autofocus/>
            <input type="password" id="input-password" name="password" class="form-control" placeholder="Password" required/>
            <input type="checkbox" value="remember-me"/> Remember me
            <br/>
            <input id="user-type-checkbox" type="checkbox"/> <strong>Are you a retailer? (Select if you are)</strong>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
        <br>
        <a href="/register" >
            Sign Up
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>
