body {
    padding-bottom: 20px;
}

/*Add to all CSS files*/
.navbar-nav {
    text-align: center;
}

.my-btn-back {
    float:left;
    padding:15px;
    display:inline-block;
}

.center-text {
    text-align: center;
}

.img-responsive {
    display:block;
    margin:auto;
    padding: 0 20px;
}

.form-text-right {
    margin: 0;
    height: 34px;
    line-height: 34px;
    text-align: end;
}

.form-text-left {
    margin: 0;
    height: 34px;
    line-height: 34px;
}