<!doctype html>

<html>
<head>
    <title>CSE170 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/customer/home.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FoodAid</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <button type="button" class="btn btn-danger navbar-btn" id="btn-logout">Logout</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a href="/customer/deal">
                <div class="card mid">
                    <h2>Panera</h2>
                    <p>35-50 min * Bread</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="/retailer">
                <div class="card3 mid">
                    <h2>Ralphs</h2>
                    <p>45-50 min * Vegetables</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="/costumer">
                <div class="card1 mid">
                    <h2>In-N-Out</h2>
                    <p>45-50 min * Burger</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="/costumer">
                <div class="card2 mid">
                    <h2>Sushi Ki</h2>
                    <p>45-50 min * Sushi</p>
                </div>
            </a>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>