<!doctype html>

<html>
<head>
    <title>Food Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/customer/panera-deal.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="my-btn-back btn btn-link btn-xs" href="home"><i class="fa fa-arrow-circle-o-left" style="font-size:2.5em;"></i></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <button type="button" class="btn btn-danger navbar-btn" id="btn-logout">Logout</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
 <script type="text/javascript">
        function getCookie(name)
        {
            var re=new RegExp(name+"=([^;]+)");
            var value=re.exec(document.cookie);
            return(value!=null)?unescape(value[1]):null;
        }
        var today=new Date();
        var expiry=new Date(today.getTime()+30*24*3600*1000);
        var expired=new Date(today.getTime()-24*3600*1000);
        function setCookie(name,value)
        {
            document.cookie=name+"="+escape(value)+"; path=/; expires="+expiry.toGMTString();
        }
        function deleteCookie(name)
        {
            document.cookie=name+"=null; path=/; expires="+expired.toGMTString();
        }
        function storeValues(form)
        {
            var e = document.getElementById("sel1");
            var value = e.options[e.selectedIndex].value;
            var text = e.options[e.selectedIndex].text;
            setCookie("field1",value);
            setCookie("field2","$10.00/Vegetable");
            return true;
        }
        </script>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="center-text">9777 Genessee Avenue</h3>
            <hr/>
        </div>
        <div class="col-xs-12">
            <img class="img-responsive" src="/images/food-vegatables.jpg"/>
            <hr/>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Company: </p>
            </div>
            <div class="col-xs-4">
                <p class="form-text-left">Ralphs</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Price: </p>
            </div>
            <div class="col-xs-4">
                <p class="form-text-left">$10.00/Vegetable</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Wait Time: </p>
            </div>
            <div class="col-xs-4">
                <p class="form-text-left">23 minutes</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Quantity:</p>
            </div>
            <div class="col-xs-8">
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12">
            <a href="map">
                <button onclick= "return storeValues(this);" type="button" class="btn btn-info navbar-btn" id="btn-add-to-cart">Add to cart</button>
            </a>
        </div>

    </div>
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
